<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="G:\maven\repository\mysql\mysql-connector-java\5.1.26\mysql-connector-java-5.1.26.jar"/>

    <context id="caigouTables" targetRuntime="MyBatis3" defaultModelType="flat">

        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter"
                  value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.10.20:3306/bkcell_security" userId="aspuser"
                        password="000000">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.bkcell.security.generator.pojo"
                            targetProject="D:\git\bkcell_security\bkcell_security_generator\src\main\java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.bkcell.security.generator.mapper"
                         targetProject="D:\git\bkcell_security\bkcell_security_generator\src\main\java">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator type="ANNOTATEDMAPPER"
                             targetPackage="com.bkcell.security.generator.mapper"
                             targetProject="D:\git\bkcell_security\bkcell_security_generator\src\main\java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!--组织表-->
        <table tableName="global_org_tb" domainObjectName="Org"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>

        <!--权限用户角色-->
        <table tableName="global_permission_tb" domainObjectName="Permission"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="PermissionId" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="global_permission_role_tb" domainObjectName="PermissionRole"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="RpId" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="rbac_role_tb" domainObjectName="Role"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="RoleId" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="rbac_role_user_tb" domainObjectName="RoleUser"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

        <table tableName="global_user_tb" domainObjectName="User"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="UserId" sqlStatement="MySql" identity="true"/>
        </table>

        <!--参数字典管理表-->
        <table tableName="param_code_tb" domainObjectName="ParamCode"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="param_value_tb" domainObjectName="ParamValue"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>
