body {
	color: #333;
	font-family:"microsoft Yahei";
	text-align: center;
	background: #2f3f4f;
	margin: 0;
	padding: 0;
}

.clearfix::before,.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
	overflow: hidden;
}

ul,li,ol {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.login-box {
	position: absolute;
	top: 46%;
	left: 50%;
	width: 460px;
	height: 460px;
	margin-left: -230px;
	margin-top: -230px;
	/*border-radius:0 30px 0 30px;*/
	/*background: #fff;*/
}

.login-tb {
	width: 98%;
	vertical-align: top;
	border:none;
	border-radius:0 0 0 30px;
	background: #fff;
}

.login-tb caption {
	height:80px;
	text-align: left;
	font-family:"黑体";
	font-weight: normal;
	font-size: 26px;
	color: #14a1bf;
	padding-left: 76px;
	padding-top:40px;
	background:#fff url(img/logo.png) no-repeat 34px 40px;
	border-radius:0 30px 0 0;
	
}

.login-tb td {
	height: 40px;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
	padding: 0 10%;
}

.login-tb td.field {
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
	padding: 0 10%;
}

.login-tb td input[type=text],.login-tb td input[type=password] {
	width:90%;
	height: 36px;
	line-height: 36px;
	text-align: left;
	color: #333;
	padding:0 10px;
	border: 1px solid #e5e5e5;
	border-radius:3px;
	 oulilne:none; 	
}
.login-tb td input[type=text]:focus,.login-tb td input[type=password]:focus{
	border:none;
	border-bottom: 1px solid #14a1bf;
	 oulilne:none; 
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.login-tb td input[type=text],.login-tb td input[type=password] {
		width:90%;
	}
}

.login-tb td .Validform_right{
	float:right;
}


.login-tb td label {
	padding-top: 15px;
	font-weight: normal;
	font-size: 16px;
	color: #666;
}

.login-btn {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #14a1bf;
	border: none;
	border-radius:30px;
}
/******** IE8 hack ***********/
@media \0screen {
	.login-tb td input[type=text],.login-tb td input[type=password] {
		width: 80%;
	}
	.login-btn {
		width: 80%;
	}
}

.footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	color: #333;
}
.footer-tb{
	color: #999;
	width: 100%;
	margin-top: 40px;
}
.footer-tb td{
	height: 25px; 
	text-align: center;
}
.footer-tb td a{
	margin-left: 20px; 
	color: #14a1bf
}
.start {
	color: red;
	font-size: 13px;
	letter-spacing: -1px;
}