<%var jsPart={%>
<script type="text/javascript">
    var $listTabId = $("#searchTable");
    $(function () {
        initPageList($listTabId, {
            url: "/param/value/list",
            queryParams: function (params) {
                return $('#form1').serializeJson(params);
            }
        });
        //搜索
        $("#btnSearch").click(function () {
            $listTabId.bootstrapTable('getOptions').pageNumber = 1;
            $listTabId.bootstrapTable('refresh');
        });
        bindEnterKey("#btnSearch");
    });

</script>
<%};%> <%layout("/common/layout.html",{position:"用户管理", jsPart:jsPart}){%>
<div class="row">
    <form id="form1" class="add-margin-bottom" role="search">

    </form>
</div>
<div class="page-wrap">
    <table id="searchTable">
        <thead>
        <tr>
            <th data-formatter="indexNum" data-title="序号" data-width="3%" data-align="center"></th>
            <th data-field="Name" class="table-title">参数名</th>
            <th data-field="Value" class="table-title">参数值</th>
            <th data-field="Remark" class="table-title">备注</th>
        </tr>
        </thead>
    </table>
</div>
<%}%>
